.popup {
    display: inline-flex;
    /* display: none; */
    padding: 34px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: #313131;
    overflow-y: auto;
    scroll-snap-type: x proximity;
    max-height: 305px;
  }
  .popup::-webkit-scrollbar {
    width: 4px;
    height: 0px;
  }
  .popup::-webkit-scrollbar-track {
    background: #4b4949; /* цвет дорожки */
    border-radius: 12px;
  }
  .popup::-webkit-scrollbar-thumb {
    background-color: blue; /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 3px solid rgb(255, 255, 255); /* padding вокруг плашки */
  }
  .popup-text {
    color: #fff;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: StratosSkyeng;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
  }
  .popup-text-info:hover {
    color: #b672ff;
    text-decoration-line: underline;
  }
  .popup-1 {
    position: absolute;
    left: 36px;
    top: 41px;
  }
  .popup-2 {
    position: absolute;
    left: 224px;
    top: 41px;
  }
  .popup-3 {
    position: absolute;
    left: 408px;
    top: 41px;
  }
  